/* Styles for body, headings, paragraphs and list */
body {
  font-family: KingHwaOldSong;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

/* Styles for links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.footer {
  position: relative;
  height: 10%;
  color: #313131;
}
